@import "reset";

body{
  background:#d4d2d1;
}
.environ-space{
  background: white;
  border-radius: 5px;
  box-shadow: inset 0 0 1em #d4d2d1;
  font-family: 'Roboto', sans-serif;
  margin: 20px 5%;
  padding: 10px;
}
.calendar-space{
  width: 80%;
}
.log{
  width: 80%;
  height:200px;
  overflow: hidden;

  .log-content{
    margin: 20px;
    color:green;
  }
}




.calendar-container{
  border: 2px solid black;
  width: 80%;
  margin: 15px 10%;
}
.calendar-header{
  height:18%;
  border:2px blue solid;
  color: #5e9bff;

  h1{
    text-align: center;
    font-weight: bold;
    font-size: 40px;
  }
  .arrow-container{
    font-size: 30px;
    margin: 10px;
    .arrow-next{
      float:right;
    }
  }
}
.calendar-grid{

  .row{
    
  }
}